Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    <IfModule mod_ssl.c>
        # Force SSL
        RewriteCond %{HTTPS} !on
        RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    </IfModule>

    # Silex
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
